
.landing-page h1 {
  font-family: Impact, sans-serif;
  font-size: 10rem;
  background: -webkit-linear-gradient(#2BC0E4, #EAECC6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.landing-page h6 {
  font-size: 2rem;
  font-weight: 300;
  color: #24C6DC;
}
.landing-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* about me section start */
  .about-me{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
  }
  
  .about-p{
    color: white;
    font-size: x-large;
  }
  
  .row{
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .skils-container{
    margin-top: 26px;
    margin-left: 26px;
    width: 40%;
  }

  
  .about-me img{
    width: 200px;
    border-radius: 13px;
    margin: .81rem;
  }
  
  .my-skils-card {
    color: black;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    text-align: start;
    border-radius: 20px;
    width: 100%;
    padding: 1%;
  }
  
  .card-title {
    text-align: center;
    font-size: large;
    color: black;
   }
  
   #logo-link:hover{
    background-color: #24C6DC;
    transform: scale(1.2);
    overflow: hidden;
   }
  /* about me section ends */


  @media (max-width: 768px){
    
    .landing-page h1{
      font-size: 4rem;
    }
    .landing-page h6{
      font-weight: 0;
      font-size: 1.3rem;
    }

    .about-me{
      margin-left: 12px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 220vh;
    }

    .about-p{
      color: white;
      font-size: large;
    }

    .about-me-imgs{
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .my-skils-card{
      width: 90%;
      font-size: large;
    }

    .card-title {
      font-size: x-large;
     }

     .skils-container{
      margin-top: 26px;
      margin-left: 26px;
      width: 100%;
    }
 

  }


  @media (max-width: 360px){
    .landing-page {
      height: 100vh;
    }
      .landing-page h1{
        font-size: 3rem;
      }
      .landing-page h6{
        font-weight: 0;
        font-size: 1rem;
      }

      .about-me{      
        height: 200vh;
      }

      .about-p{
        color: white;
        font-size: medium;
      }
  
      .about-me-imgs img{
       width: 140px;
      }
  
      .my-skils-card{
        width: 100%;
        font-size: small;
      }
  
      .card-title {
        font-size: medium;
       }
  
       .skils-container{
        margin-top: 26px;
        margin-left: 0px;
        width: 100%;
      }
  }


