#svg-name {
  margin-bottom: 2rem;
  animation: fill 0.5s ease forwards 4s;
}

#svg-name path:nth-child(1) {
  stroke-dasharray: 530;
  stroke-dashoffset: 530;
  animation: line-anim 2s ease forwards 0.3s;
}
#svg-name path:nth-child(2) {
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  animation: line-anim 2s ease forwards 0.6s;
}
#svg-name path:nth-child(3) {
  stroke-dasharray: 250;
  stroke-dashoffset: 250;
  animation: line-anim 2s ease forwards 0.9s;
}
#svg-name path:nth-child(4) {
  stroke-dasharray: 470;
  stroke-dashoffset: 470;
  animation: line-anim 2s ease forwards 1.2s;
}
#svg-name path:nth-child(5) {
  stroke-dasharray: 477;
  stroke-dashoffset: 477;
  animation: line-anim 2s ease forwards 1.5s;
}
#svg-name path:nth-child(6) {
  stroke-dasharray: 364;
  stroke-dashoffset: 364;
  animation: line-anim 2s ease forwards 1.8s;
}
#svg-name path:nth-child(7) {
  stroke-dasharray: 250;
  stroke-dashoffset: 250;
  animation: line-anim 2s ease forwards 2.1s;
}
#svg-name path:nth-child(8) {
  stroke-dasharray: 478;
  stroke-dashoffset: 478;
  animation: line-anim 2s ease forwards 2.4s;
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: url(#gradient);
  }
}

.landing-page h6 {
  font-size: 2rem;
  font-weight: 300;
  z-index: 100;
  color: #24c6dc;
}
.landing-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* about me section start */
.about-me {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}

.about-me-imgs {
  margin-left: 2%;
}

.about-p {
  color: white;
  font-size: x-large;
}

.skils-container {
  margin-top: 26px;
  margin-left: 26px;
  flex-basis: 45%;
}

.about-me img {
  width: 200px;
  border-radius: 13px;
  margin-bottom: 0.81rem;
}

.my-skils-card {
  color: black;
  word-wrap: break-word;
  background-color: #24c6dc;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  text-align: start;
  border-radius: 20px;
  box-shadow: 10px 10px 5px grey;
  width: 100%;
  padding: 1%;
}

.card-title {
  text-align: center;
  font-size: large;
  color: black;
}
.progress-bar {
  background-color: wheat;
  color: black;
}

/* about me section ends */

@media (max-width: 768px) {
  #svg-name{
    width: 300px;
    height: 70px;
  }
  .landing-page h6 {
    font-weight: 0;
    font-size: 1.3rem;
  }
  .landing-page {
    height: 100vh;
  }

  .container {
    width: 80%;
  }

  .about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 190vh;
  }

  .about-p {
    color: white;
    font-size: large;
  }

  .about-me-imgs {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .my-skils-card {
    width: 90%;
    font-size: large;
  }

  .card-title {
    font-size: x-large;
  }

  .skils-container {
    margin-top: 26px;
    margin-left: 26px;
    width: 80%;
  }
}

@media (max-width: 360px) {

  .landing-page{
    height: 100vh;
  }
  .landing-page h6 {
    font-weight: 0;
    font-size: 1rem;
  }
  .container {
    width: 80%;
  }

  .about-me {
    height: 200vh;
  }

  .about-p {
    color: white;
    font-size: medium;
  }

  .about-me-imgs img {
    width: 140px;
  }

  .my-skils-card {
    width: 100%;
    font-size: small;
  }

  .card-title {
    font-size: medium;
  }

  .skils-container {
    margin-top: 26px;
    margin-left: 0px;
    width: 80%;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .about-me {
    height: 130vh;
  }
  .skils-container {
    flex-basis: 60%;
  }
}
