.my-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.my-form {
  width: 70%;
  border-radius: 20px;
  margin-top: 3rem;
  padding: 16px;
}

.my-form input[type="text"],
.my-form input[type="email"],
.my-form textarea,
.my-form select {
  outline: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  background: #fff3e6;
  margin-bottom: 4%;
  border: 1px solid #ccc;
  padding: 3%;
  border-radius: 20px;
  color: #24c6dc;
}
.my-form input[type="text"]:focus,
.my-form input[type="email"]:focus,
.my-form textarea:focus,
.my-form select:focus {
  box-shadow: 0 0 5px #1f2747;
  padding: 3%;
  border: 1px solid #24c6dc;
  border-radius: 20px;
}

.my-form input[type="submit"],
.my-form input[type="button"] {
  font-size: 1.5em;
  width: 100%;
  padding: 1%;
  background: #32acd0;
  border-radius: 20px;
  border: none;
}
.my-form input[type="submit"]:hover,
.my-form input[type="button"]:hover {
  background: wheat;
  overflow: hidden;
}

.logos {
  padding: 1em;
  margin-top: 1em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#logo-link {
  width: 1.7em;
}
#logo-link:hover {
  transform: scale(1.2);
  overflow: hidden;
  z-index: 1;
}
