/* projects section start */
.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.img-hover-zoom {
  height: 150px;
  overflow: hidden;
}

.img-hover-zoom img {
  transition: transform 0.5s ease;
}

.img-hover-zoom:hover img {
  transform: scale(1.2);
}

.card {
  text-align: center;
  width: 30%;
  height: 440px;
  border-radius: 20px;
  word-wrap: none;
  overflow: hidden;
}

.card a img {
  width: 38px;
}

.card-text {
  font-size: large;
  text-align: start;
}

/* projects section end */

@media (max-width: 768px) {
  .projects {
    height: 260vh;
  }

  .scrolling-wrapper-flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .card {
    text-align: center;
    width: 330px;
  }
}

@media (max-width: 360px){
  .projects {
    height: 300vh;
  }
  .projects h2{
    font-size: x-large!important;
  }
  .card-text {
    font-size: medium;
    text-align: start;
  }

  .card-header{
    font-size: medium;
  }

  .row{
    width: 120%;
  }

  .btn{
    margin-bottom: 0.3rem;
    font-size: small;
  }

  .card a img {
    width: 35px;
  }
}
